.exhibitions
    &--large
        article
            .media
                img
                    aspect-ratio: auto
                    object-fit: none
.avatar,
.persons__page .hero--with-image figure picture, 
.administrators__term .hero--with-image figure picture, 
.authors__term .hero--with-image figure picture,
.researchers__term .hero--with-image figure picture, 
.teachers__term .hero--with-image figure picture
    border-radius: 0